<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#89231a;">
    <div class="container">
        <a class="navbar-brand" href="#">
            Cheftopia
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isMobileNavCollapsed = !isMobileNavCollapsed" [attr.aria-expanded]="!isMobileNavCollapsed" aria-controls="mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav" [ngbCollapse]="isMobileNavCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="onSelect('recipe')" href="#">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onSelect('shopping-list')" data-toggle="dropdown" href="#">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" ngbDropdown>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-controls="mobile-nav" ngbDropdownToggle>Manage</a>
                    <div class="dropdown-menu" id="manage-nav" ngbDropdownMenu>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>