.recipe-detail{
  background-color:rgba(250,250,250);
  color:#464646;
}

.recipe-detail-placeholder {
  height: calc(100vh - 125px);
}

.recipe-detail-placeholder p {
  display: inline-block;
  margin: auto;
  font-size: 28px;
  color: #464646;
  text-align: center;
}

.recipe-actions-dropdown .dropdown-item{
  cursor:pointer;
}

.recipe-detail img{
  border-radius:3px;
}