<div *ngIf="recipe" class="recipe-detail card">
  <div class="card-body my-1">
    <div class="row">
      <div class="col-12">
        <img [src]="recipe.imagePath" class="img-responsive" alt="{{recipe.name}}" style="width:inherit;">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>{{recipe.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="btn-group" ngbDropdown>
          <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>Manage Recipe
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" (click)="addIngredientsToShoppingList(recipe.ingredients)" href="#">Add Ingredient to
              Shopping List</a>
            <a class="dropdown-item" href="#">Edit Recipe</a>
            <a class="dropdown-item" href="#">Delete Recipe</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        {{recipe.description}}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!recipe" class="card recipe-detail-placeholder">

  <p style="font-size:28px;color:#464646;text-align:center;">Please select a recipe</p>

</div>