<div class="shopping-list-item card">
  <h4>{{shoppinglist.name}}</h4>
  <p class="description">{{shoppinglist.description}}</p>
  <div *ngIf="!hideActions" class="dropdown shoppping-list-item-actions-dropdown" ngbDropdown>
    <button class="btn btn-light dropdown-toggle" type="button" ngbDropdownToggle>Manage Shopping List</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <span class="dropdown-item" [routerLink]="[shoppinglist.id]">Edit Label</span>
      <span class="dropdown-item"> Edit Ingredients</span>
      <span class="dropdown-item" (click)="deleteItem(shoppinglist.id)">Delete</span>
    </div>
  </div>
  <ul *ngIf="shoppinglist.ingredients && shoppinglist.ingredients.length > 0" class="list-group">
    <li *ngFor="let ingredient of shoppinglist.ingredients" class="list-group-item">{{ingredient.amount}} {{ingredient.name}}</li>
  </ul>

  <p *ngIf="!shoppinglist.ingredients || shoppinglist.ingredients.length == 0" class="list-group-item">
    <i>No Ingredients Added Yet</i>
  </p>
</div>