<nav class="navbar navbar-expand-sm fixed-top navbar-dark">
    <div class="container">
        <span class="icon icon-chef-food-restaurant-streamline mr-1"></span>
        <a class="navbar-brand" routerLink="/">
            Cheftopia
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isMobileNavCollapsed = !isMobileNavCollapsed" [attr.aria-expanded]="!isMobileNavCollapsed" aria-controls="mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav" [ngbCollapse]="isMobileNavCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a routerLink="/recipes" routerLinkActive="active" class="nav-link">Recipes</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a routerLink="/shopping-list" routerLinkActive="active" class="nav-link">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" ngbDropdown>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a routerLink="/register" routerLinkActive="active" class="nav-link">Sign Up</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
                </li>
                <li class="nav-item dropdown" [hidden]="!isLoggedIn">
                    <div class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-controls="mobile-nav" ngbDropdownToggle>
                        <img *ngIf="currentUser && currentUser.avatar" class="rounded-circle" [src]="currentUser.avatar" alt="" style="width:25px; margin-right:10px;"><span
                            style="display:inline-block; vertical-align:bottom;">{{currentUser ? currentUser.name : ''}}</span>
                    </div>
                    <div class="dropdown-menu" id="manage-nav" ngbDropdownMenu>
                        <span class="dropdown-item" (click)="logout()">Sign out</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>